@{
    ViewBag.Title = "Random";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE html>


<html lang="es"
      class="light-style layout-menu-fixed"
      dir="ltr"
      data-theme="theme-default"
      data-assets-path="../assets/"
      data-template="vertical-menu-template-free">
<head>
    <meta charset="utf-8" />
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0" />

    <title> Aleatoriedad | Analytics</title>

    <meta name="description" content="" />

    <!-- Favicon -->
    <link rel="shortcut icon" href="~/Multime/teleperformance-group.svg">

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet" />

    <!-- Icons. Uncomment required icon fonts -->
    <link rel="stylesheet" href="../assets/vendor/fonts/boxicons.css" />

    <!-- Core CSS -->
    <link rel="stylesheet" href="../assets/vendor/css/core.css" class="template-customizer-core-css" />
    <link rel="stylesheet" href="../assets/vendor/css/theme-default.css" class="template-customizer-theme-css" />
    <link rel="stylesheet" href="../assets/css/demo.css" />

    <!-- Vendors CSS -->
    <link rel="stylesheet" href="../assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.css" />

    <link rel="stylesheet" href="../assets/vendor/libs/apex-charts/apex-charts.css" />



    <link href="~/Css/AppRandom2.css" rel="stylesheet" />
    <link href="~/Css/AppHeader.css" rel="stylesheet" />
    <link href="~/Css/styles.css" rel="stylesheet" />
    <link href="~/Css/AppRandom.css" rel="stylesheet" />

    <!-- Page CSS -->
    <!-- Helpers -->
    <script src="../assets/vendor/js/helpers.js"></script>

    <!--! Template customizer & Theme config files MUST be included after core stylesheets and helpers.js in the <head> section -->
    <!--? Config:  Mandatory theme config file contain global vars & default theme options, Set your preferred theme option in this file.  -->
    <script src="../assets/js/config.js"></script>
    <script src="https://kit.fontawesome.com/3f75b3031c.js" crossorigin="anonymous"></script>


</head>

<body>
    <!-- Layout wrapper -->
    <div class="layout-wrapper layout-content-navbar">
        <div class="layout-container">
            <!-- Menu -->

            <aside id="layout-menu" class="layout-menu menu-vertical menu bg-menu-theme menu_1">

                <div class="message">
                    <p class="message_1">Bienvenido</p>
                </div>



                <ul class="menu-inner py-1" id="jsVerificarpermisosMenu">
                    <!-- Dashboard -->



                </ul>


            </aside>


            <!-- / Menu -->
            <!-- Layout container -->
            <div class="layout-page">
                <!-- Navbar -->

                <header class="p-3 mb-3 border-bottom header_div">
                    <div class="container">
                        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
                            <a href="#" class="d-flex align-items-center mb-2 mb-lg-0 text-dark text-decoration-none">
                                <img class="identidad_logo" src="~/Multime/Mesa de trabajo 17 copia 5.png" alt="">
                            </a>

                            <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                                <li><a href="#" class="nav-link link-menu">TP home</a></li>
                                <li><a href="#" class="nav-link link-menu">TP ...</a></li>
                                <li><a href="#" class="nav-link link-menu">TP ...</a></li>
                            </ul>

                            <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                                <li>
                                    <a href="#" class="nav-link px-2 link-secondary">
                                        <i class="fa-solid fa-envelope icono_5"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="nav-link px-2 link-secondary">
                                        <i class="fa-solid fa-comment icono_6"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="nav-link px-2 link-secondary">
                                        <i class="fa-solid fa-file icono_5"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="nav-link px-2 link-secondary">
                                        <i class="fa-solid fa-circle-exclamation icono_6"></i>
                                    </a>
                                </li>

                                <li>
                                    <a class="nav-link px-2 link-secondary">
                                        <div class="date" id="date">

                                        </div>
                                    </a>
                                </li>

                            </ul>

                            <div class="dateDay" id="jsDateDay"></div>


                            <div class="dropdown user_name nameUser">
                                <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle nameUserText" data-bs-toggle="dropdown" aria-expanded="false" id="nameUserInicial">

                                </a>

                                <ul class="dropdown-menu text-small colum_b nameUserColum">
                                    <li><a class="dropdown-item" href="~/User/UpdateProfile">Editar perfil</a></li>
                                    @*<li><a class="dropdown-item" href="#">Más</a></li>
                                        <li><a class="dropdown-item" href="#">Más</a></li>*@
                                    <li><hr class="dropdown-divider"></li>
                                    <li><a class="dropdown-item" id="jsLoginOff" onclick="closeSession();">Cerrar session</a></li>
                                </ul>
                            </div>

                        </div>
                    </div>
                </header>

                <!-- / Navbar -->

                <div class="content-wrapper">
                    <!-- Content -->

                    <div class="container-xxl flex-grow-1 container-p-y">

                        <main class="bodybody ">

                            @*********************************MODAL PARA VER ACTIVIDAD ***************************************@

                            <!-- Modal -->
                            <div class="modal fade" id="fullscreenModal" tabindex="-1" aria-hidden="true">
                                <div class="modal-dialog modal-fullscreen" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="jsReferenciaActividad"></h5>
                                            <div class="spinner-border spinner-border-sm text-secondary" role="status" id="jsSpinner_10" style="display:none">
                                                <span class="visually-hidden" _msthash="4035993" _msttexthash="80106">Carga...</span>
                                            </div>


                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">

                                            <div class="alert alert-danger alert-dismissible" role="alert" style="display:none">
                                                <font _mstmutation="1" _msthash="2893631" _msttexthash="2123238" id="contenidoAlert"> </font><button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Cerrar" _mstaria-label="76414">
                                                </button>
                                            </div>
                                            <div id="jsPlantilla" class="">

                                                <div class="alert alert-secondary" role="alert" _msthash="2889679" _msttexthash="1422278">
                                                    <div class="colum_a">

                                                        <h6>Evaluador:</h6> <p id="jsEvaluador"></p>
                                                        <h6>Fecha generada:</h6> <p id="jsFechaGenerada"></p>
                                                        <h6>Cliente:</h6> <p id="jsCLienteReferencia"></p>
                                                        <h6>Lob:</h6> <p id="JsLobReferencia"></p>
                                                    </div>
                                                </div>

                                                <div class="table-responsive text-nowrap">
                                                    <table class="table">
                                                        <thead>
                                                            <tr>
                                                                <th _msthash="3649139" _msttexthash="117546">N°</th>
                                                                <th _msthash="3649269" _msttexthash="93639">Cliente</th>
                                                                <th _msthash="3649269" _msttexthash="93639">UCID</th>
                                                                <th _msthash="3649659" _msttexthash="112476">Duración</th>
                                                                <th _msthash="3649659" _msttexthash="112476">Login Agente inicial</th>
                                                                <th _msthash="3649659" _msttexthash="112476">Nombre Agente inicial</th>
                                                                <th _msthash="3649659" _msttexthash="112476">Talk time</th>
                                                                <th _msthash="3649659" _msttexthash="112476">Hold time</th>
                                                                <th _msthash="3649659" _msttexthash="112476">Origen colgada</th>
                                                                <th _msthash="3649659" _msttexthash="112476">Transferida</th>
                                                                <th _msthash="3649659" _msttexthash="112476">ESTADO</th>
                                                                <th _msthash="3649659" _msttexthash="112476">OBSERVACIÓN</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody id="tbodytbaleatorio2">
                                                        </tbody>
                                                        <tfoot class="table-border-bottom-0">
                                                            <tr>
                                                                <th _msthash="3649139" _msttexthash="117546">N°</th>
                                                                <th _msthash="3649269" _msttexthash="93639">Cliente</th>
                                                                <th _msthash="3649269" _msttexthash="93639">UCID</th>
                                                                <th _msthash="3649659" _msttexthash="112476">Duración</th>
                                                                <th _msthash="3649659" _msttexthash="112476">Login Agente inicial</th>
                                                                <th _msthash="3649659" _msttexthash="112476">Nombre Agente inicial</th>
                                                                <th _msthash="3649659" _msttexthash="112476">Talk time</th>
                                                                <th _msthash="3649659" _msttexthash="112476">Hold time</th>
                                                                <th _msthash="3649659" _msttexthash="112476">Origen colgada</th>
                                                                <th _msthash="3649659" _msttexthash="112476">Transferida</th>
                                                                <th _msthash="3649659" _msttexthash="112476">ESTADO</th>
                                                                <th _msthash="3649659" _msttexthash="112476">OBSERVACIÓN</th>
                                                            </tr>
                                                        </tfoot>
                                                    </table>
                                                </div>

                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-label-secondary" data-bs-dismiss="modal">Cerrar</button>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <div class="row_1">

                                <h4 class="tex_01"><a href="#" class="tex_02">App /</a> Aleatoriedad</h4>

                                <div class="position-fixed bottom-0 end-0 p-3 cssMensa" style="z-index: 11">
                                    <div id="liveToast" class="toast bg-dark" role="alert" aria-live="assertive" aria-atomic="true">
                                        <div class="toast-header">
                                            <i class="fa-solid fa-bell icono_1"></i>

                                            <strong class="me-auto">Notificación</strong>
                                            <small id="jsFecha"></small>
                                            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
                                        </div>
                                        <div class="toast-body" id="jsMensaje">
                                            Loadin...
                                        </div>
                                    </div>
                                </div>

                            </div>

                            <div class="row_2">

                            </div>

                            <div class="row_3">
                                <div class="card mb-4">

                                    <h5 class="card-header">
                                        Generar mi actividad
                                    </h5>


                                    <hr class="my-0" />
                                    <div class="card-body">

                                        <div class="mt-3">

                                            <!--<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modalToggle" _msthash="3672357" _msttexthash="384657"> Modal de lanzamiento </button>-->
                                            <!-- Modal 1-->
                                            <div class="modal fade" id="modalToggle" aria-labelledby="modalToggleLabel" tabindex="-1" style="display: none;" _mstvisible="0" aria-hidden="true">
                                                <div class="modal-dialog modal-dialog-centered" _mstvisible="1">
                                                    <div class="modal-content" _mstvisible="2">
                                                        <div class="modal-header" _mstvisible="3">
                                                            <h5 class="modal-title" id="modalToggleLabel" _msthash="302380" _msttexthash="65949" _mstvisible="4"> Información guardada exitosamente </h5>
                                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar" _mstaria-label="76414" _mstvisible="4"></button>
                                                        </div>
                                                        <div class="modal-body" _msthash="746746" _msttexthash="2214979" _mstvisible="3">
                                                            <div class="colum_a">
                                                                <h6>Referencia:</h6> <p id="jsCampo9"></p>
                                                                <h6>Id ccms:</h6> <p id="jsCampo10"></p>
                                                                <h6>Evaluador:</h6> <p id="jsCampo11"></p>
                                                                <h6>Identificación:</h6> <p id="jsCampo12"></p>
                                                                <h6>Cargo:</h6> <p id="jsCampo13"></p>
                                                                <h6>Fecha generada:</h6> <p id="jsCampo14"></p>
                                                                <h6>Cliente:</h6> <p id="jsCampo15"></p>
                                                                <h6>Lob:</h6> <p id="jsCampo16"></p>
                                                            </div>
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>
                                            <!-- Modal 2-->
                                            <div class="modal fade" id="modalToggle2" aria-hidden="true" aria-labelledby="modalToggleLabel2" tabindex="-1" _msthidden="4">
                                                <div class="modal-dialog modal-dialog-centered" _msthidden="4">
                                                    <div class="modal-content" _msthidden="4">
                                                        <div class="modal-header" _msthidden="2">
                                                            <h5 class="modal-title" id="modalToggleLabel2" _msthash="317330" _msttexthash="66105" _msthidden="1">Modal 2</h5>
                                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" _msthidden="A" _msthiddenattr="854568" _mstaria-label="59709"></button>
                                                        </div>
                                                        <div class="modal-body" _msthash="770146" _msttexthash="1948674" _msthidden="1">
                                                            Hide this modal and show the first with the button below.
                                                        </div>
                                                        <div class="modal-footer" _msthidden="1">
                                                            <button class="btn btn-primary" data-bs-target="#modalToggle" data-bs-toggle="modal" data-bs-dismiss="modal" _msthash="1206699" _msttexthash="183625" _msthidden="1">Back to first</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>



                                        <div class="mt-3">

                                            <!--<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modalToggle" _msthash="3672357" _msttexthash="384657"> Modal de lanzamiento </button>-->
                                            <!-- Modal 1-->
                                            <div class="modal fade" id="modalToggleSurvey" aria-labelledby="modalToggleLabel" tabindex="-1" style="display: none;" _mstvisible="0" aria-hidden="true">
                                                <div class="modal-dialog modal-dialog-centered" _mstvisible="1">
                                                    <div class="modal-content" _mstvisible="2">
                                                        <div class="modal-header" _mstvisible="3">
                                                            <h5 class="modal-title" id="modalToggleLabel" _msthash="302380" _msttexthash="65949" _mstvisible="4"> Información guardada exitosamente </h5>
                                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar" _mstaria-label="76414" _mstvisible="4"></button>
                                                        </div>
                                                        <div class="modal-body" _msthash="746746" _msttexthash="2214979" _mstvisible="3">
                                                            <div class="colum_a">
                                                                <h6>Referencia:</h6> <p id="jsCampo09"></p>
                                                                <h6>ID CCMS:</h6> <p id="jsCampo010"></p>
                                                                <h6>Evaluador:</h6> <p id="jsCampo011"></p>
                                                                <h6>Identificación:</h6> <p id="jsCampo012"></p>
                                                                <h6>Cargo:</h6> <p id="jsCampo013"></p>
                                                                <h6>Fecha generada:</h6> <p id="jsCampo014"></p>
                                                                <h6>Cliente:</h6> <p id="jsCampo015"></p>
                                                                <h6>Lob:</h6> <p id="jsCampo016"></p>
                                                            </div>
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>
                                            <!-- Modal 2-->
                                            <div class="modal fade" id="modalToggle2" aria-hidden="true" aria-labelledby="modalToggleLabel2" tabindex="-1" _msthidden="4">
                                                <div class="modal-dialog modal-dialog-centered" _msthidden="4">
                                                    <div class="modal-content" _msthidden="4">
                                                        <div class="modal-header" _msthidden="2">
                                                            <h5 class="modal-title" id="modalToggleLabel2" _msthash="317330" _msttexthash="66105" _msthidden="1">Modal 2</h5>
                                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" _msthidden="A" _msthiddenattr="854568" _mstaria-label="59709"></button>
                                                        </div>
                                                        <div class="modal-body" _msthash="770146" _msttexthash="1948674" _msthidden="1">
                                                            Hide this modal and show the first with the button below.
                                                        </div>
                                                        <div class="modal-footer" _msthidden="1">
                                                            <button class="btn btn-primary" data-bs-target="#modalToggle" data-bs-toggle="modal" data-bs-dismiss="modal" _msthash="1206699" _msttexthash="183625" _msthidden="1">Back to first</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>


                                        <form id="formAccountSettings" method="POST" onsubmit="return false">
                                            <div class="row">


                                                <div class="mb-3 col-md-6">

                                                    <label class="form-label" for="country">Cliente</label>
                                                    <select id="jsCliente" class="select2 form-select" onchange="loadSubClientes();">
                                                    </select>
                                                </div>

                                                <div class="mb-3 col-md-6">
                                                    <label class="form-label" for="country">Lob</label>
                                                    <select id="jslab" class="select2 form-select" onchange="loadFilter();">
                                                    </select>
                                                </div>

                                                <div class="mb-3 col-md-6" id="form-1">

                                                    <label for="exampleFormControlReadOnlyInput1" class="form-label" _msthash="3571516" _msttexthash="196898">CCMS ADMINISTRADOR</label>
                                                    <input class="form-control" type="text" id="jsCcmsAdmin" placeholder="loading..." readonly="" _mstplaceholder="770081">
                                                </div>

                                                <div class="mb-3 col-md-6" id="form-2">
                                                    <label for="exampleFormControlReadOnlyInput1" class="form-label" _msthash="3571516" _msttexthash="196898">FECHA ACTUALIZADO</label>
                                                    <input class="form-control" type="text" id="jsfechaactualizado" placeholder="" readonly="" _mstplaceholder="770081">
                                                </div>

                                                <div class="mb-3 col-md-6" id="form-3">
                                                    <label for="exampleFormControlReadOnlyInput1" class="form-label" _msthash="3571516" _msttexthash="196898">N° monitoreos a realizar</label>
                                                    <input class="form-control" type="text" id="jsNumCall" readonly="" _mstplaceholder="770081">
                                                </div>

                                                <div class="mb-3 col-md-6" id="form-4">
                                                    <label for="exampleFormControlReadOnlyInput1" class="form-label" _msthash="3571516" _msttexthash="196898">N° monitoreos faltantes</label>
                                                    <input class="form-control" type="text" id="jsFaltantes" readonly="" _mstplaceholder="770081">
                                                </div>

                                                <div class="card-body" id="form-5">
                                                    <div class="row">
                                                        <div class="col-md mb-md-0 mb-2">
                                                            <div class="form-check custom-option custom-option-basic checked">
                                                                <label class="form-check-label custom-option-content" for="jsFechasActividad_1">
                                                                    <input name="jsFechasActividad" class="form-check-input" type="radio" value="" id="jsFechasActividad_1" checked="">
                                                            
                                                                    <div class="accordion-item">
                                                                        <h2 class="accordion-header" id="headingOne">
                                                                            <button type="button" class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#accordionOne" aria-expanded="false" aria-controls="accordionOne" _msthash="386724" _msttexthash="233454">Analista -- Fecha Activida </button>
                                                                        </h2>

                                                                        <div id="accordionOne" class="accordion-collapse collapse" data-bs-parent="#accordionExample" style="">
                                                                            <div class="accordion-body" _msthash="358722" _msttexthash="37576682">
                                                                                <span class="custom-option-header">
                                                                                    <span class="h6 mb-0" _msthash="6282263" _msttexthash="87984">Fecha Inicial</span>
                                                                                    <span class="h6 mb-0" _msthash="6282263" _msttexthash="87984">Fecha Final</span>
                                                                                </span>
                                                                                <span class="custom-option-header">
                                                                                    <input class="form-control" type="date" id="FechaInicial_1" readonly="" _mstplaceholder="770081">
                                                                                    <input class="form-control" type="date" id="FechaFinal_1" readonly="" _mstplaceholder="770081">
                                                                                </span>
                                                                            </div>
                                                                        </div>
                                                                    </div>

                                                                </label>
                                                            </div>
                                                        </div>
                                                        <div class="col-md">
                                                            <div class="form-check custom-option custom-option-basic">
                                                                <label class="form-check-label custom-option-content" for="jsFechasActividad_2">

                                                                    <input name="jsFechasActividad" class="form-check-input" type="radio" value="" id="jsFechasActividad_2" checked="">
                                                                    <div class="accordion-item">
                                                                        <h2 class="accordion-header" id="headingOne">
                                                                            <button type="button" class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#accordionTwo" aria-expanded="false" aria-controls="accordionOne" _msthash="386724" _msttexthash="233454">Sistema -- Fecha Activida </button>
                                                                        </h2>

                                                                        <div id="accordionTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample" style="">
                                                                            <div class="accordion-body" _msthash="358722" _msttexthash="37576682">
                                                                                <span class="custom-option-header">
                                                                                    <span class="h6 mb-0" _msthash="6282263" _msttexthash="87984">Fecha Inicial</span>
                                                                                    <span class="h6 mb-0" _msthash="6282263" _msttexthash="87984">Fecha Final</span>
                                                                                </span>
                                                                                <span class="custom-option-header">
                                                                                    <input class="form-control" type="date" id="FechaInicial_2" readonly="" _mstplaceholder="770081">
                                                                                    <input class="form-control" type="date" id="FechaFinal_2" readonly="" _mstplaceholder="770081">
                                                                                </span>
                                                                            </div>
                                                                        </div>
                                                                    </div>

                                                                </label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>


                                                <div class="card-body" id="form-6">
                                                    <div class="row">
                                                        <div class="col-md mb-md-0 mb-2">
                                                            <div class="form-check custom-option custom-option-basic checked">
                                                                <label class="form-check-label custom-option-content" for="jsEstrategico">
                                                                    <input name="jsNivel" class="form-check-input" type="radio" value="" id="jsEstrategico" checked="">

                                                                    <div class="accordion-item">
                                                                        <h2 class="accordion-header" id="headingOne">
                                                                            <button type="button" class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#accordionThree" aria-expanded="false" aria-controls="accordionOne" _msthash="386724" _msttexthash="233454">Nivel Estratégico </button>
                                                                        </h2>

                                                                        <div id="accordionThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample" style="">
                                                                            <div class="accordion-body" _msthash="358722" _msttexthash="37576682">
                                                                                <span class="custom-option-header">
                                                                                    <input class="form-control" type="text" readonly="" _mstplaceholder="770081" value="CSAT">
                                                                                    <input class="form-control" type="text" id="CSAT" readonly="" _mstplaceholder="770081">
                                                                                </span>
                                                                                <span class="custom-option-header">
                                                                                    <input class="form-control" type="text" readonly="" _mstplaceholder="770081" value="NPS">
                                                                                    <input class="form-control" type="text" id="NPS" readonly="" _mstplaceholder="770081">
                                                                                </span>
                                                                                <span class="custom-option-header">
                                                                                    <input class="form-control" type="text" readonly="" _mstplaceholder="770081" value="FCR">
                                                                                    <input class="form-control" type="text" id="FCR" readonly="" _mstplaceholder="770081">
                                                                                </span>
                                                                                <span class="custom-option-header">
                                                                                    <input class="form-control" type="text" readonly="" _mstplaceholder="770081" value="CES">
                                                                                    <input class="form-control" type="text" id="CES" readonly="" _mstplaceholder="770081">
                                                                                </span>
                                                                                <span class="custom-option-header">
                                                                                    <input class="form-control" type="text" readonly="" _mstplaceholder="770081" value="RECONTACTOS">
                                                                                    <input class="form-control" type="text" id="RECONTACTOS" readonly="" _mstplaceholder="770081">
                                                                                </span>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    

                                                                </label>
                                                            </div>
                                                        </div>
                                                        <div class="col-md">
                                                            <div class="form-check custom-option custom-option-basic checked">
                                                                <label class="form-check-label custom-option-content" for="jsTactico">
                                                                    <input name="jsNivel" class="form-check-input" type="radio" value="" id="jsTactico" checked="">
                                                                    <div class="accordion-item">
                                                                        <h2 class="accordion-header" id="headingOne">
                                                                            <button type="button" class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#accordionFour" aria-expanded="false" aria-controls="accordionOne" _msthash="386724" _msttexthash="233454">Nivel Táctico </button>
                                                                        </h2>

                                                                        <div id="accordionFour" class="accordion-collapse collapse" data-bs-parent="#accordionExample" style="">
                                                                            <div class="accordion-body" _msthash="358722" _msttexthash="37576682">
                                                                                <span class="custom-option-header">
                                                                                    <input class="form-control" type="text" readonly="" _mstplaceholder="770081" value="HOLD INICIAL">
                                                                                    <input class="form-control" type="text" id="HOLD_INICIAL" readonly="" _mstplaceholder="770081">
                                                                                </span>
                                                                                <span class="custom-option-header">
                                                                                    <input class="form-control" type="text" readonly="" _mstplaceholder="770081" value="HOLD FINAL">
                                                                                    <input class="form-control" type="text" id="HOLD_FINAL" readonly="" _mstplaceholder="770081">
                                                                                </span>
                                                                                <span class="custom-option-header">
                                                                                    <input class="form-control" type="text" readonly="" _mstplaceholder="770081" value="AHT INICIAL">
                                                                                    <input class="form-control" type="text" id="AHT_INICIAL" readonly="" _mstplaceholder="770081">
                                                                                </span>
                                                                                <span class="custom-option-header">
                                                                                    <input class="form-control" type="text" readonly="" _mstplaceholder="770081" value="AHT FINAL">
                                                                                    <input class="form-control" type="text" id="AHT_FINAL" readonly="" _mstplaceholder="770081">
                                                                                </span>
                                                                                <span class="custom-option-header">
                                                                                    <input class="form-control" type="text" readonly="" _mstplaceholder="770081" value="TRASFERIDA">
                                                                                    <input class="form-control" type="text" id="TRASFERIDA" readonly="" _mstplaceholder="770081">
                                                                                </span>
                                                                                <span class="custom-option-header">
                                                                                    <input class="form-control" type="text" readonly="" _mstplaceholder="770081" value="ID AGENTES">
                                                                                    <input class="form-control" type="text" id="AGENTES" readonly="" _mstplaceholder="770081">
                                                                                </span>
                                                                            </div>
                                                                        </div>
                                                                    </div>

                                                                    

                                                                </label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>


                                                <div class="card-body" id="form-7">
                                                    <div class="row">
                                                        <div class="col-md mb-md-0 mb-2">
                                                            <div class="form-check custom-option custom-option-basic checked">
                                                                <label class="form-check-label custom-option-content" for="jsAseguramiento">
                                                                    <input name="jsNivel" class="form-check-input" type="radio" value="" id="jsAseguramiento" checked="">
                                                                    <div class="accordion-item">
                                                                        <h2 class="accordion-header" id="headingOne">
                                                                            <button type="button" class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#accordionFive" aria-expanded="false" aria-controls="accordionOne" _msthash="386724" _msttexthash="233454">Nivel Aseguramiento Operativo</button>
                                                                        </h2>

                                                                        <div id="accordionFive" class="accordion-collapse collapse" data-bs-parent="#accordionExample" style="">
                                                                            <div class="accordion-body" _msthash="358722" _msttexthash="37576682">
                                                                                <input name="jsLlamadas" class="form-check-input" type="radio" value="" id="jsLlamadasCortas" checked="">
                                                                                <span class="custom-option-header">
                                                                                    <input class="form-control" type="text" readonly="" _mstplaceholder="770081" value="LLAMADAS CORTAS">
                                                                                    <input class="form-control" type="text" id="LLAMADAS_CORTAS" readonly="" _mstplaceholder="770081">

                                                                                </span>
                                                                                <input name="jsLlamadas" class="form-check-input" type="radio" value="" id="jsLlamadasLargas" checked="">
                                                                                <span class="custom-option-header">
                                                                                    <input class="form-control" type="text" readonly="" _mstplaceholder="770081" value="LLAMADAS LARGAS">
                                                                                    <input class="form-control" type="text" id="LLAMADAS_LARGAS" readonly="" _mstplaceholder="770081">
                                                                                </span>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    
                                                                </label>
                                                            </div>
                                                        </div>
                                                        <div class="col-md">
                                                            <div class="form-check custom-option custom-option-basic">
                                                                <label class="form-check-label custom-option-content" for="jsNoFiltros">
                                                                    <input name="jsNivel" class="form-check-input" type="radio" value="" id="jsNoFiltros" checked="">

                                                                    <div class="accordion-item">
                                                                        <h2 class="accordion-header" id="headingOne">
                                                                            <button type="button" class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#accordionSix" aria-expanded="false" aria-controls="accordionOne" _msthash="386724" _msttexthash="233454">Sin Nivel</button>
                                                                        </h2>

                                                                        <div id="accordionSix" class="accordion-collapse collapse" data-bs-parent="#accordionExample" style="">
                                                                            <div class="accordion-body" _msthash="358722" _msttexthash="37576682">
                                                                                
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                            <div class="mt-2" id="form-8">

                                                <button onclick="verifyPermission();" type="submit" class="buton_1">Calcular</button>
                                            
                                            </div>
                                        </form>
                                    </div>


                                    <div class="colum_2" id="jsOpenResul" style="display:none">

                                        <div class="col-xl-6">

                                            <div class="nav-align-top mb-4">
                                                <ul class="nav nav-pills mb-3 nav-fill" role="tablist">
                                                    <li class="nav-item">
                                                        <button type="button" class="nav-link" role="tab" data-bs-toggle="tab" data-bs-target="#navs-pills-justified-home" aria-controls="navs-pills-justified-home" aria-selected="false">
                                                            <i class="fa-solid fa-phone-volume"></i> Llamadas
                                                            <div id="jsSpinner_1" class="spinner-border spinner-border-sm text-secondary" role="status">
                                                                <span class="visually-hidden">Loading...</span>
                                                            </div>
                                                        </button>
                                                    </li>

                                                    <li class="nav-item">
                                                        <button type="button" class="nav-link active" role="tab" data-bs-toggle="tab" data-bs-target="#navs-pills-justified-profile" aria-controls="navs-pills-justified-profile" aria-selected="true">
                                                            <i class="fa-solid fa-list-check"></i> Encuestas
                                                            <div id="jsSpinner_2" class="spinner-border spinner-border-sm text-secondary" role="status">
                                                                <span class="visually-hidden">Loading...</span>
                                                            </div>
                                                        </button>
                                                    </li>

                                                </ul>
                                                <div class="tab-content">
                                                    <div class="tab-pane fade" id="navs-pills-justified-home" role="tabpanel">

                                                        <div id="jspdfPlantilla1" class="">
                                                            <h5 class="card-header card-header_1" _msthash="1605539" _msttexthash="955838">Planilla Llamadas</h5>
                                                            <div class="alert alert-secondary" role="alert" _msthash="2889679" _msttexthash="1422278">
                                                                <div class="colum_a">
                                                                    <h6>Referencia:</h6> <p id="jsCampo1"></p>
                                                                    <h6>ID CCMS:</h6> <p id="jsCampo2"></p>
                                                                    <h6>Evaluador:</h6> <p id="jsCampo3"></p>
                                                                    <h6>Identificación:</h6> <p id="jsCampo4"></p>
                                                                    <h6>Cargo:</h6> <p id="jsCampo5"></p>
                                                                    <h6>Fecha generada:</h6> <p id="jsCampo6"></p>
                                                                    <h6>Cliente:</h6> <p id="jsCampo7"></p>
                                                                    <h6>Lob:</h6> <p id="jsCampo8"></p>
                                                                </div>


                                                            </div>

                                                            <div class="table-responsive text-nowrap">
                                                                <table class="table">
                                                                    <thead>
                                                                        <tr>
                                                                            <th _msthash="3649139" _msttexthash="117546">N°</th>
                                                                            <th _msthash="3649269" _msttexthash="93639">Cliente</th>
                                                                            <th _msthash="3649269" _msttexthash="93639">UCID</th>
                                                                            <th _msthash="3649659" _msttexthash="112476">Duración</th>
                                                                            <th _msthash="3649659" _msttexthash="112476">Login Agente inicial</th>
                                                                            <th _msthash="3649659" _msttexthash="112476">Nombre Agente inicial</th>
                                                                            <th _msthash="3649659" _msttexthash="112476">Talk time</th>
                                                                            <th _msthash="3649659" _msttexthash="112476">Hold time</th>
                                                                            <th _msthash="3649659" _msttexthash="112476">Origen colgada</th>
                                                                            <th _msthash="3649659" _msttexthash="112476">Transferida</th>

                                                                        </tr>
                                                                    </thead>
                                                                    <tbody id="tbodytbaleatorio">
                                                                    </tbody>
                                                                    <tfoot class="table-border-bottom-0">
                                                                        <tr>
                                                                            <th _msthash="3649139" _msttexthash="117546">N°</th>
                                                                            <th _msthash="3649269" _msttexthash="93639">Cliente</th>
                                                                            <th _msthash="3649269" _msttexthash="93639">UCID</th>
                                                                            <th _msthash="3649659" _msttexthash="112476">Duración</th>
                                                                            <th _msthash="3649659" _msttexthash="112476">Login Agente inicial</th>
                                                                            <th _msthash="3649659" _msttexthash="112476">Nombre Agente inicial</th>
                                                                            <th _msthash="3649659" _msttexthash="112476">Talk time</th>
                                                                            <th _msthash="3649659" _msttexthash="112476">Hold time</th>
                                                                            <th _msthash="3649659" _msttexthash="112476">Origen colgada</th>
                                                                            <th _msthash="3649659" _msttexthash="112476">Transferida</th>
                                                                        </tr>
                                                                    </tfoot>
                                                                </table>
                                                            </div>

                                                        </div>


                                                        <div id="jspdfBtn" class="mt-2">
                                                            <button onclick="insertDataRandom();" type="button" class="buton_1" id="jsbuton_1">Guardar</button>
                                                            <button onclick="setEmailCall();" type="button" class="buton_1" id="jsbuton_2">Enviar</button>
                                                            <div id="jsSpinner_3" class="spinner-border spinner-border-sm text-secondary" role="status">
                                                                <span class="visually-hidden">Loading...</span>
                                                            </div>
                                                        </div>
                                                    </div>



                                                    <div class="tab-pane fade active show" id="navs-pills-justified-profile" role="tabpanel">

                                                        <div id="jspdfPlantilla2" class="">

                                                            <h5 class="card-header card-header_1" _msthash="1605539" _msttexthash="955838">Planilla Encuestas</h5>

                                                            <div class="alert alert-secondary" role="alert" _msthash="2889679" _msttexthash="1422278">
                                                                <div class="colum_a">

                                                                    <h6>Referencia:</h6> <p id="jsCampo001"></p>
                                                                    <h6>ID CCMS:</h6> <p id="jsCampo002"></p>
                                                                    <h6>Evaluador:</h6> <p id="jsCampo003"></p>
                                                                    <h6>Identificación:</h6> <p id="jsCampo004"></p>
                                                                    <h6>Cargo:</h6> <p id="jsCampo005"></p>
                                                                    <h6>Fecha generada:</h6> <p id="jsCampo006"></p>
                                                                    <h6>Cliente:</h6> <p id="jsCampo007"></p>
                                                                    <h6>Lob:</h6> <p id="jsCampo008"></p>
                                                                </div>


                                                            </div>

                                                            <div class="table-responsive text-nowrap">
                                                                <table class="table">
                                                                    <thead>
                                                                        <tr>
                                                                            <th _msthash="3649139" _msttexthash="117546">N°</th>
                                                                            <th _msthash="3649269" _msttexthash="93639">Cliente</th>
                                                                            <th _msthash="3649269" _msttexthash="93639">UCID</th>
                                                                            <th _msthash="3649659" _msttexthash="112476">ID Encuesta</th>
                                                                            <th _msthash="3649659" _msttexthash="112476">Pregunta</th>
                                                                            <th _msthash="3649659" _msttexthash="112476">Respuesta</th>
                                                                            <th _msthash="3649659" _msttexthash="112476">Split</th>
                                                                            <th _msthash="3649659" _msttexthash="112476">Fecha Fin</th>
                                                                            <th _msthash="3649659" _msttexthash="112476">Login</th>
                                                                            <th _msthash="3649659" _msttexthash="112476">ANI</th>
                                                                        </tr>
                                                                    </thead>
                                                                    <tbody id="tbodytbaleatorio2">
                                                                    </tbody>
                                                                    <tfoot class="table-border-bottom-0">
                                                                        <tr>
                                                                            <th _msthash="3649139" _msttexthash="117546">N°</th>
                                                                            <th _msthash="3649269" _msttexthash="93639">Cliente</th>
                                                                            <th _msthash="3649269" _msttexthash="93639">UCID</th>
                                                                            <th _msthash="3649659" _msttexthash="112476">ID Encuesta</th>
                                                                            <th _msthash="3649659" _msttexthash="112476">Pregunta</th>
                                                                            <th _msthash="3649659" _msttexthash="112476">Respuesta</th>
                                                                            <th _msthash="3649659" _msttexthash="112476">Split</th>
                                                                            <th _msthash="3649659" _msttexthash="112476">Fecha_Fin</th>
                                                                            <th _msthash="3649659" _msttexthash="112476">Login</th>
                                                                            <th _msthash="3649659" _msttexthash="112476">ANI</th>
                                                                        </tr>
                                                                    </tfoot>
                                                                </table>
                                                            </div>

                                                        </div>


                                                        <div id="jspdfBtn2" class="mt-2">
                                                            <button onclick="insertDataRandom2();" type="button" class="buton_1" id="jsbuton_3">Guardar</button>
                                                            <button onclick="setEmailSurv();" type="button" class="buton_1" id="jsbuton_4">Enviar</button>
                                                            <div id="jsSpinner_4" class="spinner-border spinner-border-sm text-secondary" role="status">
                                                                <span class="visually-hidden">Loading...</span>
                                                            </div>
                                                        </div>

                                                    </div>

                                                </div>
                                            </div>
                                        </div>


                                    </div>


                                    <!-- /Account -->
                                </div>
                            </div>

                            <div class="row_3">
                                <div class="card mb-4">
                                    <div class="row_3_a">

                                        <h5 class="card-header">Actividad generada</h5>

                                    </div>



                                    <hr class="my-0" />

                                    <div class="col-xl-6" id="CssCol">


                                        <div class="nav-align-top mb-4">
                                            <ul class="nav nav-pills mb-3 nav-fill" role="tablist">

                                                <li class="nav-item">
                                                    <button type="button" class="nav-link" role="tab" data-bs-toggle="tab" data-bs-target="#navs-pills-justified-llamadas" aria-controls="navs-pills-justified-home" aria-selected="false">
                                                        <i class="fa-solid fa-phone-volume"></i> Llamadas
                                                        <span class="badge rounded-pill badge-center h-px-20 w-px-20 bg-danger" id="jsSpanLoadCall"></span>
                                                    </button>
                                                </li>

                                                <li class="nav-item">
                                                    <button type="button" class="nav-link" role="tab" data-bs-toggle="tab" data-bs-target="#navs-pills-justified-encuestas" aria-controls="navs-pills-justified-profile" aria-selected="false">
                                                        <i class="fa-solid fa-list-check"></i> Encuestas
                                                        <span class="badge rounded-pill badge-center h-px-20 w-px-20 bg-danger" id="jsSpanLoadSurv"></span>
                                                    </button>
                                                </li>

                                            </ul>
                                            <div class="tab-content">
                                                <div class="tab-pane fade" id="navs-pills-justified-llamadas" role="tabpanel">

                                                    <div class="col-md-10 row_3_a_a">

                                                        <div class="mb-3 col-md-6_a">
                                                            <label class="form-label" for="country">Fecha Inicial</label>
                                                            <input id="jsFiltroInicial" class="form-control" type="date" value="">
                                                        </div>

                                                        <div class="mb-3 col-md-6_a">
                                                            <label class="form-label" for="country">Fecha Final</label>
                                                            <input id="jsFiltroFinal" class="form-control" type="date" value="">
                                                        </div>

                                                        <div class="mb-3 col-md-6_b">
                                                            <button onclick="loadActgenerada();" type="button" class="btn rounded-pill btn-icon btn-outline-secondary">
                                                                <i class="fa-solid fa-arrow-right"></i>
                                                            </button>
                                                        </div>
                                                    </div>

                                                    <div class="card">
                                                        <h5 class="card-header" _msthash="1605539" _msttexthash="955838">Informes de actividades</h5>




                                                        <div class="table-responsive text-nowrap">
                                                            <table class="table">
                                                                <thead>
                                                                    <tr>
                                                                        <th _msthash="3649139" _msttexthash="117546">Referencia</th>
                                                                        <th _msthash="3649269" _msttexthash="93639">Fecha - HORA</th>
                                                                        <th _msthash="3649659" _msttexthash="112476">Cliente</th>
                                                                        <th _msthash="3649659" _msttexthash="112476">Lob</th>
                                                                        <th _msthash="3649659" _msttexthash="112476">Documeno</th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody id="jsMostrarTBGenerada">
                                                                </tbody>
                                                                <tfoot class="table-border-bottom-0">
                                                                    <tr>
                                                                        <th _msthash="3649139" _msttexthash="117546">Referencia</th>
                                                                        <th _msthash="3649269" _msttexthash="93639">Fecha - HORA</th>
                                                                        <th _msthash="3649659" _msttexthash="112476">Cliente</th>
                                                                        <th _msthash="3649659" _msttexthash="112476">Lob</th>
                                                                        <th _msthash="3649659" _msttexthash="112476">Documeno</th>
                                                                    </tr>
                                                                </tfoot>
                                                            </table>
                                                        </div>
                                                    </div>




                                                </div>


                                                <div class="tab-pane fade" id="navs-pills-justified-encuestas" role="tabpanel">
                                                    <div class="col-md-10 row_3_a_a">

                                                        <div class="mb-3 col-md-6_a">
                                                            <label class="form-label" for="country">Fecha Inicial</label>
                                                            <input id="jsFiltroInicialS" class="form-control" type="date" value="">
                                                        </div>

                                                        <div class="mb-3 col-md-6_a">
                                                            <label class="form-label" for="country">Fecha Final</label>
                                                            <input id="jsFiltroFinalS" class="form-control" type="date" value="">
                                                        </div>

                                                        <div class="mb-3 col-md-6_b">
                                                            <button onclick="loadActgeneradaS();" type="button" class="btn rounded-pill btn-icon btn-outline-secondary">
                                                                <i class="fa-solid fa-arrow-right"></i>
                                                            </button>
                                                        </div>
                                                    </div>

                                                    <div class="card">
                                                        <h5 class="card-header" _msthash="1605539" _msttexthash="955838">Informes de actividades</h5>




                                                        <div class="table-responsive text-nowrap">
                                                            <table class="table">
                                                                <thead>
                                                                    <tr>
                                                                        <th _msthash="3649139" _msttexthash="117546">Referencia</th>
                                                                        <th _msthash="3649269" _msttexthash="93639">Fecha - HORA</th>
                                                                        <th _msthash="3649659" _msttexthash="112476">Cliente</th>
                                                                        <th _msthash="3649659" _msttexthash="112476">Documeno</th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody id="jsMostrarTBGeneradaS">
                                                                </tbody>
                                                                <tfoot class="table-border-bottom-0">
                                                                    <tr>
                                                                        <th _msthash="3659747" _msttexthash="117546">Referencia</th>
                                                                        <th _msthash="3659877" _msttexthash="93639">Fecha - HORA</th>
                                                                        <th _msthash="3660007" _msttexthash="118365">Estado</th>
                                                                        <th _msthash="3660137" _msttexthash="76037">Documento</th>
                                                                    </tr>
                                                                </tfoot>
                                                            </table>
                                                        </div>
                                                    </div>

                                                </div>

                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>

                            <div class="row_3">

                            </div>



                        </main>

                    </div>
                </div>
                <!-- / Content -->
                <!-- Footer -->
                <footer class="content-footer footer bg-footer-theme">
                    <div class="container-xxl d-flex flex-wrap justify-content-between py-2 flex-md-row flex-column">
                        TP
                    </div>
                </footer>
                <!-- / Footer -->

                <div class="content-backdrop fade"></div>
            </div>
            <!-- Content wrapper -->
        </div>
        <!-- / Layout page -->
    </div>


    <!-- Overlay -->
    <div class="layout-overlay layout-menu-toggle"></div>
    </div>
    <!-- / Layout wrapper -->
    @*<div class="buy-now">
            <a href="#"
               target="_blank"
               class="btn btn-danger btn-buy-now"> Help</a>
        </div>*@

    <!-- Core JS -->
    <!-- build:js assets/vendor/js/core.js -->
    <script src="../assets/vendor/libs/jquery/jquery.js"></script>
    <script src="../assets/vendor/libs/popper/popper.js"></script>
    <script src="../assets/vendor/js/bootstrap.js"></script>
    <script src="../assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.js"></script>

    <script src="../assets/vendor/js/menu.js"></script>
    <!-- endbuild -->
    <!-- Vendors JS -->
    <script src="../assets/vendor/libs/apex-charts/apexcharts.js"></script>

    <!-- Main JS -->
    <script src="../assets/js/main.js"></script>

    <!-- Page JS -->
    <script src="../assets/js/dashboards-analytics.js"></script>

    <!-- Place this tag in your head or just before your close body tag. -->
    <script async defer src="https://buttons.github.io/buttons.js"></script>

    <script src="~/Js/menuVerticalTotal.js"></script>
    <script src="~/Js/AppRandom.js"></script>


</body>
</html>

