@{
    ViewBag.Title = "New User";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>


<html lang="es"
      class="light-style layout-menu-fixed"
      dir="ltr"
      data-theme="theme-default"
      data-assets-path="../assets/"
      data-template="vertical-menu-template-free">
<head>
    <meta charset="utf-8" />
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0" />

    <title> User | Analytics</title>

    <meta name="description" content="" />

    <!-- Favicon -->
    <link rel="shortcut icon" href="Vistas/multimedia/teleperformance-group.svg">

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet" />

    <!-- Icons. Uncomment required icon fonts -->
    <link rel="stylesheet" href="../assets/vendor/fonts/boxicons.css" />
    <script src="https://kit.fontawesome.com/3f75b3031c.js" crossorigin="anonymous"></script>

    <!-- Core CSS -->
    <link rel="stylesheet" href="../assets/vendor/css/core.css" class="template-customizer-core-css" />
    <link rel="stylesheet" href="../assets/vendor/css/theme-default.css" class="template-customizer-theme-css" />
    <link rel="stylesheet" href="../assets/css/demo.css" />

    <!-- Vendors CSS -->
    <link rel="stylesheet" href="../assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.css" />

    <link rel="stylesheet" href="../assets/vendor/libs/apex-charts/apex-charts.css" />

    <link href="~/Css/AppHeader.css" rel="stylesheet" />
    <link href="~/Css/AdminNewUser.css" rel="stylesheet" />
    <link href="~/Css/styles.css" rel="stylesheet" />


    <!-- Page CSS -->
    <!-- Helpers -->
    <script src="../assets/vendor/js/helpers.js"></script>

    <!--! Template customizer & Theme config files MUST be included after core stylesheets and helpers.js in the <head> section -->
    <!--? Config:  Mandatory theme config file contain global vars & default theme options, Set your preferred theme option in this file.  -->
    <script src="../assets/js/config.js"></script>


</head>

<body>
    <!-- Layout wrapper -->
    <div class="layout-wrapper layout-content-navbar">
        <div class="layout-container">
            <!-- Menu -->

            <aside id="layout-menu" class="layout-menu menu-vertical menu bg-menu-theme menu_1">

                <div class="message">
                    <p class="message_1">Bienvenido</p>
                </div>



                <ul class="menu-inner py-1" id="jsVerificarpermisosMenu">
                    <!-- Dashboard -->



                </ul>


            </aside>


            <!-- / Menu -->
            <!-- Layout container -->
            <div class="layout-page">
                <!-- Navbar -->

                <header class="p-3 mb-3 border-bottom header_div">
                    <div class="container">
                        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
                            <a href="#" class="d-flex align-items-center mb-2 mb-lg-0 text-dark text-decoration-none">
                                <img class="identidad_logo" src="~/Multime/Mesa de trabajo 17 copia 5.png" alt="">
                            </a>

                            <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                                <li><a href="#" class="nav-link link-menu">TP home</a></li>
                                <li><a href="#" class="nav-link link-menu">TP ...</a></li>
                                <li><a href="#" class="nav-link link-menu">TP ...</a></li>
                            </ul>

                            <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                                <li>
                                    <a href="#" class="nav-link px-2 link-secondary">
                                        <i class="fa-solid fa-envelope icono_5"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="nav-link px-2 link-secondary">
                                        <i class="fa-solid fa-comment icono_6"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="nav-link px-2 link-secondary">
                                        <i class="fa-solid fa-file icono_5"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="nav-link px-2 link-secondary">
                                        <i class="fa-solid fa-circle-exclamation icono_6"></i>
                                    </a>
                                </li>

                                <li>
                                    <a class="nav-link px-2 link-secondary">
                                        <div class="date" id="date">

                                        </div>
                                    </a>
                                </li>

                            </ul>

                            <div class="dateDay" id="jsDateDay"></div>


                            <div class="dropdown user_name nameUser">
                                <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle nameUserText" data-bs-toggle="dropdown" aria-expanded="false" id="nameUserInicial">

                                </a>

                                <ul class="dropdown-menu text-small colum_b nameUserColum">
                                    <li><a class="dropdown-item" href="~/User/UpdateProfile">Editar perfil</a></li>
                                    @*<li><a class="dropdown-item" href="#">Más</a></li>
                                        <li><a class="dropdown-item" href="#">Más</a></li>*@
                                    <li><hr class="dropdown-divider"></li>
                                    <li><a class="dropdown-item" id="jsLoginOff" onclick="closeSession();">Cerrar session</a></li>
                                </ul>
                            </div>

                        </div>
                    </div>
                </header>

                <!-- / Navbar -->

                <div class="content-wrapper">
                    <!-- Content -->

                    <div class="container-xxl flex-grow-1 container-p-y">

                        <main class="bodybody ">

                            <div class="row_1">
                                <h4 class="tex_01"><a href="#" class="tex_02">Usuario /</a> <a href="plantilla_10.html" class="tex_02">Editar usuario /</a> Crear usuario</h4>

                                <div class="position-fixed bottom-0 end-0 p-3 cssMensa" style="z-index: 11">
                                    <div id="liveToast" class="toast bg-dark" role="alert" aria-live="assertive" aria-atomic="true">
                                        <div class="toast-header">
                                            <i class="fa-solid fa-bell icono_1"></i>

                                            <strong class="me-auto">Notificación</strong>
                                            <small id="jsFecha"></small>
                                            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
                                        </div>
                                        <div class="toast-body" id="jsMensaje">
                                            Loadin...
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row_2">

                            </div>

                            <div class="row_3">
                                <div class="card mb-4">
                                    <h5 class="card-header">Datos de usuario</h5>

                                    <div id="jsAlerta_1" class="alert alert-dark alert-dismissible mb-0" role="alert" style="display:none;">
                                        Loading...
                                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Cerrar" _mstaria-label="76414">
                                        </button>
                                    </div>



                                    <hr class="my-0" />

                                    <div class="card-body">


                                        <div class="mt-3">


                                            <!--<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modalToggle" _msthash="3672357" _msttexthash="384657"> Modal de lanzamiento </button>-->
                                            <!-- Modal 1-->
                                            <div class="modal fade" id="modalToggle" aria-labelledby="modalToggleLabel" tabindex="-1" style="display: none;" _mstvisible="0" aria-hidden="true">
                                                <div class="modal-dialog modal-dialog-centered" _mstvisible="1">
                                                    <div class="modal-content" _mstvisible="2">
                                                        <div class="modal-header" _mstvisible="3">
                                                            <h5 class="modal-title" id="modalToggleLabel" _msthash="302380" _msttexthash="65949" _mstvisible="4"> Usuario creado exitosamente </h5>
                                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar" _mstaria-label="76414" _mstvisible="4"></button>
                                                        </div>
                                                        <div class="modal-body" _msthash="746746" _msttexthash="2214979" _mstvisible="3">
                                                            <div class="colum_a">
                                                                <h6>Documento:</h6> <p id="jsDocumento"></p>
                                                                <h6>Nombre:</h6> <p id="jsNombre"></p>
                                                                <h6>Correo electrónico :</h6> <p id="jsEmail"></p>
                                                                <h6>Superior :</h6> <p id="jsSupervisor"></p>
                                                                <h6>Contraseña:</h6> <p id="jsContraseña"></p>
                                                                <h6>Fecha generada:</h6> <p id="jsFechagenerada"> </p>

                                                                <h6>Permisos: </h6> <p id="jsPermisos"> </p>
                                                            </div>
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>
                                            <!-- Modal 2-->
                                            <div class="modal fade" id="modalToggle2" aria-hidden="true" aria-labelledby="modalToggleLabel2" tabindex="-1" _msthidden="4">
                                                <div class="modal-dialog modal-dialog-centered" _msthidden="4">
                                                    <div class="modal-content" _msthidden="4">
                                                        <div class="modal-header" _msthidden="2">
                                                            <h5 class="modal-title" id="modalToggleLabel2" _msthash="317330" _msttexthash="66105" _msthidden="1">Modal 2</h5>
                                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" _msthidden="A" _msthiddenattr="854568" _mstaria-label="59709"></button>
                                                        </div>
                                                        <div class="modal-body" _msthash="770146" _msttexthash="1948674" _msthidden="1">
                                                            Hide this modal and show the first with the button below.
                                                        </div>
                                                        <div class="modal-footer" _msthidden="1">
                                                            <button class="btn btn-primary" data-bs-target="#modalToggle" data-bs-toggle="modal" data-bs-dismiss="modal" _msthash="1206699" _msttexthash="183625" _msthidden="1">Back to first</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>



                                        <form id="formAccountSettings" method="POST" onsubmit="return false">
                                            <div class="row ">

                                                <div class="rowForm">


                                                    <div class="card-body">
                                                        <div class="mb-3">
                                                            <label class="form-label" for="basic-default-fullname" _msthash="4230707" _msttexthash="262691">USER RED</label>
                                                            <input type="text" class="form-control" id="jsUserCcms" _mstplaceholder="153257" onchange="loadDataUser();">
                                                        </div>

                                                        <div class="card-body_colum">
                                                            <div class="mb-3">
                                                                <label class="form-label" for="basic-default-fullname" _msthash="4230707" _msttexthash="262691">CCMS</label>
                                                                <input type="text" class="form-control" id="jsUserRed" _mstplaceholder="153257">
                                                            </div>

                                                            <div class="mb-3">
                                                                <label class="form-label" for="basic-default-phone" _msthash="4231448" _msttexthash="365729">NOMBRES</label>
                                                                <input type="text" id="jsUserName" class="form-control phone-mask" _mstplaceholder="81341">
                                                            </div>

                                                            <div class="mb-3">
                                                                <label class="form-label" for="basic-default-phone" _msthash="4231448" _msttexthash="365729">APELLIDOS</label>
                                                                <input type="text" id="jsUserLastName" class="form-control phone-mask" _mstplaceholder="81341">
                                                            </div>

                                                            <div class="mb-3">
                                                                <label class="form-label" for="basic-default-phone" _msthash="4231448" _msttexthash="365729">CORREO ELECTRONICO</label>
                                                                <input type="email" id="jsUserEmail" class="form-control phone-mask" _mstplaceholder="81341">
                                                            </div>

                                                            <div class="mb-3">
                                                                <label class="form-label" for="basic-default-phone" _msthash="4231448" _msttexthash="365729">CORREO ELECTRONICO ALTERNATIVO</label>
                                                                <input type="email" id="jsUserEmailAlternative" class="form-control phone-mask" _mstplaceholder="81341">
                                                            </div>

                                                            <div class="mb-3">
                                                                <label class="form-label" for="basic-default-company" _msthash="4230954" _msttexthash="154128">CCMS MANAGER</label>
                                                                <input type="number" class="form-control" id="jsUserCcmsManager" _mstplaceholder="83564">
                                                            </div>
                                                        </div>
                                                        

                                                    </div>
                                                </div>

                                            </div>

                                            <div class="card-body">
                                                <h6>Permisos del usuario</h6>

                                                <div id="accordionPopoutIcon" class="accordion accordion-popout">

                                                    <div class="card accordion-item card_permissions active">
                                                        <h2 class="accordion-header text-body d-flex justify-content-between" id="accordionPopoutIconOne">
                                                            <button type="button" class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#accordionPopoutIcon-1" aria-controls="accordionPopoutIcon-1">
                                                                Administrador
                                                            </button>
                                                        </h2>

                                                        <div id="accordionPopoutIcon-1" class="accordion-collapse collapse" data-bs-parent="#accordionPopoutIcon">
                                                            <div class="accordion-body">
                                                                <div class="form-check mt-3">
                                                                    <input class="form-check-input check" type="checkbox" value="administradorNewUser" id="administradorNewUser">
                                                                    <label class="form-check-label" for="defaultCheck1" _msthash="4727216" _msttexthash="202267"> Crear usuarios </label>
                                                                </div>
                                                                <div class="form-check mt-3">
                                                                    <input class="form-check-input check" type="checkbox" value="administratorEditPermissions" id="administratorEditPermissions">
                                                                    <label class="form-check-label" for="defaultCheck1" _msthash="4727216" _msttexthash="202267"> Editar permisos </label>
                                                                </div>
                                                                <div class="form-check mt-3">
                                                                    <input class="form-check-input check" type="checkbox" value="administratorAddClient" id="administratorAddClient">
                                                                    <label class="form-check-label" for="defaultCheck1" _msthash="4727216" _msttexthash="202267"> Agregar Campañas </label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="card accordion-item card_permissions">
                                                        <h2 class="accordion-header text-body d-flex justify-content-between" id="accordionPopoutIconTwo">
                                                            <button type="button" class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#accordionPopoutIcon-2" aria-controls="accordionPopoutIcon-2">
                                                                Manager
                                                            </button>
                                                        </h2>
                                                        <div id="accordionPopoutIcon-2" class="accordion-collapse collapse" data-bs-parent="#accordionPopoutIcon">
                                                            <div class="accordion-body">
                                                                <div class="form-check mt-3">
                                                                    <input class="form-check-input check" type="checkbox" value="managerEquipment" id="managerEquipment">
                                                                    <label class="form-check-label" for="defaultCheck1" _msthash="4727216" _msttexthash="202267"> Mi Equipo </label>
                                                                </div>
                                                                <div class="form-check mt-3">
                                                                    <input class="form-check-input check" type="checkbox" value="managerRandomnessResults" id="managerRandomnessResults">
                                                                    <label class="form-check-label" for="defaultCheck1" _msthash="4727216" _msttexthash="202267"> Resultados de aleatoriedad </label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="card accordion-item card_permissions">
                                                        <h2 class="accordion-header text-body d-flex justify-content-between" id="accordionPopoutIconThree">
                                                            <button type="button" class="accordion-button" data-bs-toggle="collapse" data-bs-target="#accordionPopoutIcon-3" aria-expanded="true" aria-controls="accordionPopoutIcon-3" role="tabpanel">
                                                                Aleatoriedad
                                                            </button>
                                                        </h2>
                                                        <div id="accordionPopoutIcon-3" class="accordion-collapse collapse show" data-bs-parent="#accordionPopoutIcon">
                                                            <div class="accordion-body">
                                                                <div class="form-check mt-3">
                                                                    <input class="form-check-input check" type="checkbox" value="random" id="random">
                                                                    <label class="form-check-label" for="defaultCheck1" _msthash="4727216" _msttexthash="202267">Todas las funciones </label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="card accordion-item card_permissions ">
                                                        <h2 class="accordion-header text-body d-flex justify-content-between" id="accordionPopoutIconFour">
                                                            <button type="button" class="accordion-button" data-bs-toggle="collapse" data-bs-target="#accordionPopoutIcon-4" aria-expanded="true" aria-controls="accordionPopoutIcon-4" role="tabpanel">
                                                                Calculadoras
                                                            </button>
                                                        </h2>
                                                        <div id="accordionPopoutIcon-4" class="accordion-collapse collapse show" data-bs-parent="#accordionPopoutIcon">
                                                            <div class="accordion-body">
                                                                <div class="form-check mt-3">
                                                                    <input class="form-check-input check" type="checkbox" value="calculatorPlans" id="calculatorPlans">
                                                                    <label class="form-check-label" for="defaultCheck1" _msthash="4727216" _msttexthash="202267">Planes</label>
                                                                </div>
                                                                <div class="form-check mt-3">
                                                                    <input class="form-check-input check" type="checkbox" value="calculatorDays" id="calculatorDays">
                                                                    <label class="form-check-label" for="defaultCheck1" _msthash="4727216" _msttexthash="202267">Días</label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="card accordion-item card_permissions">
                                                        <h2 class="accordion-header text-body d-flex justify-content-between" id="accordionPopoutIconFive">
                                                            <button type="button" class="accordion-button" data-bs-toggle="collapse" data-bs-target="#accordionPopoutIcon-5" aria-expanded="true" aria-controls="accordionPopoutIcon-5" role="tabpanel">
                                                                Bitácoras
                                                            </button>
                                                        </h2>
                                                        <div id="accordionPopoutIcon-5" class="accordion-collapse collapse show" data-bs-parent="#accordionPopoutIcon">
                                                            <div class="accordion-body">
                                                                <div class="form-check mt-3">
                                                                    <input class="form-check-input check" type="checkbox" value="logsSura" id="logsSura">
                                                                    <label class="form-check-label" for="defaultCheck1" _msthash="4727216" _msttexthash="202267">Sura</label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                </div>

                                            </div>

                                            <div class="mt-2">
                                                <button onclick="newUser();" type="submit" class="buton_1">Crear</button>
                                                <button onclick="sendEmailNewUser();" type="submit" class="buton_1" style="display:none" id="buton_2">Enviar</button>
                                            </div>
                                        </form>
                                    </div>
                                    <!-- /Account -->
                                </div>
                            </div>

                        </main>

                    </div>
                </div>
                <!-- / Content -->
                <!-- Footer -->
                <footer class="content-footer footer bg-footer-theme">
                    <div class="container-xxl d-flex flex-wrap justify-content-between py-2 flex-md-row flex-column">
                        TP
                    </div>
                </footer>
                <!-- / Footer -->

                <div class="content-backdrop fade"></div>
            </div>
            <!-- Content wrapper -->
        </div>
        <!-- / Layout page -->
    </div>


    <!-- Overlay -->
    <div class="layout-overlay layout-menu-toggle"></div>
    </div>
    <!-- / Layout wrapper -->

    @*<div class="buy-now">
        <a href="#"
           target="_blank"
           class="btn btn-danger btn-buy-now"> Help</a>
    </div>*@

    <!-- Core JS -->
    <!-- build:js assets/vendor/js/core.js -->
    <script src="../assets/vendor/libs/jquery/jquery.js"></script>
    <script src="../assets/vendor/libs/popper/popper.js"></script>
    <script src="../assets/vendor/js/bootstrap.js"></script>
    <script src="../assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.js"></script>

    <script src="../assets/vendor/js/menu.js"></script>
    <!-- endbuild -->
    <!-- Vendors JS -->
    <script src="../assets/vendor/libs/apex-charts/apexcharts.js"></script>

    <!-- Main JS -->
    <script src="../assets/js/main.js"></script>

    <!-- Page JS -->
    <script src="../assets/js/dashboards-analytics.js"></script>

    <!-- Place this tag in your head or just before your close body tag. -->
    <script async defer src="https://buttons.github.io/buttons.js"></script>

    <script src="~/Js/menuVerticalTotal.js"></script>
    <script src="~/Js/AdminNewUser.js"></script>


</body>
</html>

