

@import url(styles.css);


.bodybody {
    margin-top: 1%;
}

#open__h1 {
    background-color: #fff;
}

.row_1 {
    display: flex;
    flex-direction: row;
    max-width: 100%;
    justify-content: left;
}

.tex_01 {
    font-size: 18px;
    color: var(--lt-color-gray-700);
    text-decoration: none;
    font-weight: 600;
}

.tex_02 {
    font-size: 18px;
    color: var(--lt-color-gray-500);
    text-decoration: none;
    font-weight: lighter;
    font-style: oblique;
}


.row_2 {
    display: flex;
    flex-direction: row;
    max-width: 100%;
    margin-top: 0px;
    justify-content: center;
}

.p_1 {
    margin: 15px 0px;
}

.card {
    padding: 15px;
    width: 80%;
    border: solid 1px var(--lt-color-gray-200);
}

.card_permissions {
    padding: 5px;
    width: 80%;
    border: solid 1px var(--lt-color-gray-200);
}

.card_2_a {
    display: grid;
    grid-template-columns: 1fr 5fr;
}

.card-body {
    border: transparent;
}

.card-header {
    justify-content: center;
    align-items: center;
    border: transparent;
    background-color: transparent;
}

.card_2_b {
    border-radius: 0px 0px 10px 10px;
    border: solid 1px #f2f2f2;
    background-color: #f2f2f2;
}

.row_3 {
    display: flex;
    flex-direction: row;
    margin: 50px auto;
    max-width: 100%;
    width: 100%;
    padding: 30px;
    justify-content: center;
    justify-content: center;
    background-color: var(--fondo-azul);
    border-radius: 10px;
}

@media (min-width: 1200px) {
    .col-xl-6 {
        width: 100%;
    }
}

.message_1 {
    font-size: 20px;
    font-weight: 500;
}

.message {
    display: flex;
    justify-content: center;
    margin: 50px auto;
}

.card {
    width: 100%;
}

@media (min-width: 768px) {
    .col-md-6 {
        flex: 0 0 auto;
        width: 50%;
    }
}


.mt-2 {
    margin: 40px auto;
}

.col_1 {
    width: 100%;
}

@media (min-width: 768px) {
    .col-md {
        flex: 1 0 0%;
        width: 60%;
    }

    .col_1 {
        display: flex;
        margin: 20px auto;
        width: 80%;
    }
}


@media (min-width: 768px) {
    .col-md-4 {
        flex: 0 0 auto;
        width: 33.33333333%;
    }
}

.icono_1 {
    margin: 0px 15px 0px 0px;
}

.span_1 {
    margin-top: 10px;
}

.mb-0 {
    width: 70%;
    margin: 0px auto;
    margin-bottom: 20px !important;
}

@media (min-width: 768px) {
    .col-md-6 {
        flex: 0 0 auto;
        width: 100%;
    }
}

#jsAlerta_a {
    display: none;
}

.colum_a {
    padding: 20px;
    margin: 10px;
    border-radius: 15px;
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    width: 100%;
}

    .colum_a h6 {
        margin-right: 20px;
    }

.mb-3_a {
    display: flex;
}

    .mb-3_a button {
        margin: 0px 80px;
    }


p {
    margin-top: 0;
    margin-bottom: 0rem;
}

#jsAlert_1 {
    display: none;
}

.card-header{
    margin: 20px 10px;
}

.rowForm{
    display:grid;
    grid-template-columns: 1fr;
}

.card-body_colum{
    display:grid;
    grid-template-columns: 1fr 1fr;
}

.mb-3{
    margin-left:5px;
}
.card-body {
    padding: 0.8rem;
}

.row {
    --bs-gutter-x: 1.625rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(-1 * var(--bs-gutter-y));
    margin-right: calc(-0.5 * var(--bs-gutter-x));
    margin-left: calc(-0.5 * var(--bs-gutter-x));
}

.form-1{
    display:grid;
    grid-template-columns:1fr 1fr;
}

.form-1_1{
    max-width: 95%;
    margin:0px 10px;
}

.row_4 {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.elementosFila {
    display: flex;
    flex-direction: column;
}

.filaOne, filaTwo {
    display: flex;
    flex-direction: row;
}

.elemento {
    width: 50%;
}