


* {
    font-size: 10px;
}

.bodybody {
    margin-top: 1%;
}

#open__h1 {
    background-color: #fff;
}

.row_1 {
    display: flex;
    flex-direction: row;
    max-width: 100%;
    justify-content: left;
}

.tex_01 {
    font-size: 18px;
    color: var(--lt-color-gray-700);
    text-decoration: none;
    font-weight: 600;
}

.tex_02 {
    font-size: 18px;
    color: var(--lt-color-gray-500);
    text-decoration: none;
    font-weight: lighter;
    font-style: oblique;
}


.p_1 {
    margin: 15px 0px;
}

.card {
    padding: 15px;
    width: 100%;
    border: solid 1px var(--lt-color-gray-200);
}

.card_2_a {
    display: grid;
    grid-template-columns: 1fr 5fr;
}

.card-body {
    border: transparent;
}

.card-header {
    justify-content: center;
    align-items: center;
    border: transparent;
    background-color: transparent;
}

.card_2_b {
    border-radius: 0px 0px 10px 10px;
    border: solid 1px #f2f2f2;
    background-color: #f2f2f2;
}

.row_3 {
    display: flex;
    flex-direction: row;
    margin: 10px auto;
    max-width: 100%;
    width: 100%;
    justify-content: center;
    justify-content: center;
    background-color: var(--fondo-azul);
    border-radius: 10px;
    margin-bottom: 500px;
}

@media (min-width: 1200px) {
    .col-xl-6 {
        width: 100%;
    }
}

.message_1 {
    font-size: 20px;
    font-weight: 500;
}

.message {
    display: flex;
    justify-content: center;
    margin: 50px auto;
}

.table th {
    font-size: 10px;
}

.CssFooter {
    display: flex;
    flex-direction: row;
    margin: 10px auto;
    max-width: 100%;
    width: 100%;
}

.identidad_logo{
    margin-left:100px;
    width:70px;
}

.identidad_logo2 {
    width: 400px;
}
.identidad_logo3 {
    margin-left: 100px;
    width: 180px;
}


.wrap,
.wrap2 {
    width: auto;
    white-space: pre-wrap; /* CSS3 */
    white-space: -moz-pre-wrap; /* Firefox */
    white-space: -pre-wrap; /* Opera <7 */
    white-space: -o-pre-wrap; /* Opera 7 */
    word-wrap: break-word; /* IE */
}


.wrap {
    height: auto;
}





