@{
    Layout = null;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> log in | Analytics </title>

    <link href="~/Css/styles.css" rel="stylesheet" />
    <link href="~/Css/stylesLogin.css" rel="stylesheet" />


</head>
<body>
    <div class="page">
        <div class="container">
            <div class="left">
                <div class="login">Analytics</div>
                <div class="eula">Login in with you credentials</div>
                <div class="help">
                    <a href="" class="icono_1"><i class="fa-sharp fa-solid fa-circle-info"></i></a>
                    <a href="" class="icono_1"><i class="fa-solid fa-key"></i></i></a>
                    <a href="" class="icono_1"><i class="fa-solid fa-cloud"></i></a>
                </div>
            </div>


            <div class="right">
                <div class="form">

                    <div id="jsMostrar" class="alert alert-danger" role="alert" _msthash="2889965" _msttexthash="1363245">
                        Esta es una alerta de peligro, ¡compruébalo!
                    </div>

                    <form action="#">
                        <label class="label" for="password">E-Mail</label>
                        <div class="input_2">
                            <input id="jsEmail" type="text" class="label" placeholder="Nombre de usuario" aria-label="Nombre de usuario" aria-describedby="basic-addon11" _mstplaceholder="292526" _mstaria-label="292526">
                            <span class="input-group-text" id="basic-addon11">
                                <button onclick="sendEmail();" class="btn_1">Enviar</button>
                            </span>
                        </div>
                        <label class="label" for="password">Password</label>
                        <input class="label" type="password" id="jsPassword">
                        <button type="button" class="btn_1" id="session" onclick="newdatasession();"> Login</button>
                    </form>
                    <div class="text_1">
                        <a href="">
                            <h3>I did not receive the email with the password</h3>
                        </a>

                    </div>
                </div>
            </div>
        </div>
    </div>



    <script src="Vistas/js/1.js"></script>
    <script src="Vistas/js/12.js"></script>
    <script src="https://kit.fontawesome.com/3f75b3031c.js" crossorigin="anonymous"></script>
</body>
</html>
